<div class="row">
	<div class="col-md-12">
		<header>
			<h3>{{title}}</h3>
		</header>
		<form role="form" name="gameForm" class="form-horizontal">
			<div class= "form-group">
				<label class= "col-md-2">Title</label>
				<div class="col-md-4">
					<input name="title" ng-model="game.title" type="text" class="form-control" placeholder="Super Mario World" autofocus required />
				</div>
			</div>
			<div class= "form-group" ng-class="{'has-error' : gameForm.date.$error.date}">
				<label class= "col-md-2">Release Date</label>
				<div class="col-md-4">
					<input name="date" ng-model="releaseDate" ng-change="dateChanged()" type="date"class="form-control" placeholder="1990-01-01" required />
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-2">Platform</label>
				<div class="col-md-4">
					<input name="platform" ng-model="game.platform" type="text" class="form-control" placeholder="Platform"/>
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-2">Genre</label>
				<div class="col-md-4">
					<input name="genre" ng-model="game.genre" type="text" class="form-control" placeholder="Genre"/>
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-2">Status</label>
				<div class="col-md-4">
					<select name="status" ng-model="game.game_status_id" class="form-control">
						<option ng-repeat="status in statuses" value="{{status.status_id}}">{{status.game_status}}</option>
					</select>
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-2">Interest</label>
				<div class="col-md-4">
					<select name="interest" ng-model="game.interest_level_id" class="form-control">
						<option ng-repeat="il in interests" value="{{il.interest_id}}">{{il.interest_level}}</option>
					</select>
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-2"></label>
				<div class="col-md-4">
					<a href="#/" class="btn btn-default">Cancel</a>
					<button ng-click="saveGame(game)" ng-disabled="gameForm.$pristine || gameForm.$invalid" class="btn btn-primary">Save</button>
					<button ng-click="deleteGame()" ng-show="game.game_id" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</form>
	</div>
</div>